/* notebook header tabs tab {
	font-size: 15px;
	font-weight: bold;
	color: white;
	background: #614185;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

notebook header tabs tab:checked{
	font-size: 15px;
	font-weight: bold;
	color: white;
	background: #7FB8CA;
	border-width: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

notebook header tabs tab:hover{
	font-size: 15px;
	font-weight: bold;
	color: white;
	background-color: #E67315;
	border-width: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

frame#frame1 {
	border-color: gray;
	background-color: green;
	border-width: 1px;
	border-style: solid;
}

frame#frame2 {
	border-color: gray;
	background-color: red;
	border-width: 1px;
	border-style: solid;
} */

#green_button{
    background-color: green;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

/* #green_button:checked{
    background-color: rgb(152, 226, 152);
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
} */